.datos {
	display: flex;

	div {
		flex: 5;
	}

	.variables {
		margin-left: 10px;
		flex: 1;
	}
}

.textField {
	width: 100%!important;
}

.scalakata {
	display: flex;
	.iframe {
		flex: 6;
		width: 100%!important;
		height: 350px!important;
	}

	.list{
		flex: 1;
		margin-left: 10px;
		height: 350px;
		overflow-y: scroll;
	}
}


.selectField {
	width: 100%;
}

.graphicsGroupKPI{
	overflow-x: scroll;
	white-space:nowrap;

	div {
		display: inline-flex;
		align-items: center;
		flex-flow: column;

		img {
			width: 250px;
			height: 250px;
		}

		.miniature {
				width: 200px;
				height: 180px;
				margin-bottom: -138px;
				margin-left: 10px;

				border: 1px solid black;
				display: block;
				top: -180px;
				position: relative;

				h2, p {
					text-align: center;
				}

				h4 {
					padding-left: 5px;
				}
			}

		div {
			flex-flow:row;
		}
	}

	.controls {
		margin-top: -40px
	}
}

.graphicAddFloatingButton {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
}

.representationAdd {
	.center {
		display: flex;
		flex-direction: column;
		align-items: center;

		.selectFieldImg {
			display: flex;
			flex-direction: row;
			align-items: center;

			
			img{
				width: 250px;
				height: 250px;
				margin-bottom: -10px;
				margin-left: 20px;
			}

			.miniature {
				width: 200px;
				height: 200px;
				margin-bottom: 40px;
				margin-left: 10px;

				border: 1px solid black;
				h2, p {
					text-align: center;
				}

				h4 {
					padding-left: 5px;
				}
			}
		}
	}

	.inputs {
		margin-top: -50px;
	}
}

.representationData {
	.mappingVariables {
		display: flex;

		.variables {
			flex: 1;
			margin-right: 10px;
		}

	}

	.textFieldsFlex{
		display: flex;

		div {
			margin-top: -10px;
			margin-right: 10px;

			flex: 1;
		}
	}
}

.stepperControls {
	.raisedButton {
		margin-top: 10px;
		margin-right: 10px;
	}
}