.selectTemplate {
	h1 {
		text-align: center;
		font-size: 16px;
	}

	.refreshIndicator {
		margin-top: 20px;
	}

	.scroll {
		//overflow-x: scroll;
		text-align: center;
		height: 310px;
		
		.templates {
			display: inline-flex;

			.name {
				text-align: center;
				margin-bottom: 10px;
			}

			.template {
				width: 250px;
				height: 250px;
				margin-left: 10px;
				margin-right: 10px;

				.text {
					text-align: justify;
					text-justify: inter-word;
					padding: 15px;
					font-size: 14px;

					.icon {
						img {
							height: 42px;
							width: 42px;
							position: absolute;
							right: 0
						}
						position: relative;
					}

					p {
						margin-top: 0;
					}

					.name {
						text-align: left;
						font-weight: bold;
						margin-top: 13px;
					}

					.description {
						margin-top: 30px;
					}

					h4 {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.addCode {
		margin-top: 10px;
		text-align: right;
	}		
}

.workflowTemplate {
	.table {
		margin-top: 10px;
		overflow-y: auto;
		max-height: 200px;

		.workflowLine {
			margin-top: -10px;
			display: flex;
			align-items: center;

			.workflow {
				flex: 2;
			}

			.state {
				margin-left: 20px;
				flex: 1;
			}

			.actions {
				flex: 0;
			}
		}

		margin-bottom: 5px;
	}

	.inputs {
		display: flex;
		align-items: center;

		.actions {
			flex:0;
			width: 10px;
			height: 10px;
		}
	}
}

.taskTemplate {

	.table {
		margin-top: 10px;
		overflow-y: auto;
		max-height: 200px;

		.taskLine {
			margin-top: -10px;
			display: flex;
			align-items: center;

			.task {
				flex: 2;
			}

			.state {
				margin-left: 20px;
				flex: 1;
			}

			.actions {
				flex: 0;
			}
		}

		margin-bottom: 5px;
	}

	.inputs {
		display: flex;
		align-items: center;
		visibility: hidden;

		.actions {
			flex:0;
			width: 10px;
			height: 10px;
		}
	}
}

.propertyTemplate{
	.reduxOperatorProperty{
		display: flex;

		.property{
			flex: 1;
			margin-right: 20px;
		}

		.reduxOperatorSelect{
			flex: 1;
		}
	}

	.divider {
		margin-top: 10px!important;
		margin-bottom: 15px!important;
	}

	.table {
		margin-top: 10px;
		overflow-y: auto;
		max-height: 200px;

		.propLine {
			margin-top: -10px;
			display: flex;
			align-items: center;

			.prop {
				flex: 1;
			}

			.state {
				margin-left: 20px;
				flex: 2;

				display: flex;

				.comparisonOperator{
					flex: 1;
				}

				.value{
					flex: 1;
				}

				.logicalOperator {
					flex: 1;
				}
			}

			.actions {
				flex: 0;
			}
		}

		margin-bottom: 5px;
	}

	.otherProperties {
		display: flex;

		.propertyName {
			flex: 1;
			margin-right: 10px!important;
		}

		.atributes {
			flex: 2;

			.primitiveType{
				display: flex;

				.operator {
					flex: 1;
				}

				.value {
					margin-left: 10px;
					flex: 2;
				}
			}
		}
	}

	.propertyActions {
		text-align: right;
		margin-top: 20px;
		margin-bottom: 10px;
		.button {
			margin-left: 10px!important;
		}
	}
}

.textFieldwidthAll {
	width: 100%!important;
}