.selectTemplate {
	h1 {
		text-align: center;
		font-size: 16px;
	}

	.refreshIndicator {
		margin-top: 20px;
	}

	.scroll {
		overflow-x: scroll;
		height: 310px;
		
		.templates {
			display: inline-flex;

			.name {
				text-align: center;
				margin-bottom: 10px;
			}

			.template {
				width: 250px;
				height: 250px;
				margin-left: 10px;
				margin-right: 10px;

				.text {
					padding: 15px;
					font-size: 14px;

					p {
						margin-top: 0;
					}

					h4 {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.addCode {
		margin-top: 10px;
		text-align: right;
	}		
}

.workflowTemplate {
	.table {
		margin-top: 10px;
		overflow-y: auto;
		max-height: 200px;

		.workflowLine {
			margin-top: -10px;
			display: flex;
			align-items: center;

			.workflow {
				flex: 2;
			}

			.state {
				margin-left: 20px;
				flex: 1;
			}

			.actions {
				flex: 0;
			}
		}

		margin-bottom: 5px;
	}

	.inputs {
		display: flex;
		align-items: center;

		.actions {
			flex:0;
			width: 10px;
			height: 10px;
		}
	}
}

.taskTemplate {

	.table {
		margin-top: 10px;
		overflow-y: auto;
		max-height: 200px;

		.taskLine {
			margin-top: -10px;
			display: flex;
			align-items: center;

			.task {
				flex: 2;
			}

			.state {
				margin-left: 20px;
				flex: 1;
			}

			.actions {
				flex: 0;
			}
		}

		margin-bottom: 5px;
	}

	.inputs {
		display: flex;
		align-items: center;
		visibility: hidden;

		.actions {
			flex:0;
			width: 10px;
			height: 10px;
		}
	}
}

.propertyTemplate{
	.reduxOperatorProperty{
		display: flex;

		.property{
			flex: 1;
			margin-right: 20px;
		}

		.reduxOperatorSelect{
			flex: 1;
		}
	}

	.divider {
		margin-top: 10px!important;
		margin-bottom: 15px!important;
	}

	.otherProperties {
		display: flex;

		.propertyName {
			flex: 1;
			margin-right: 10px!important;
		}

		.atributes {
			flex: 1;

			.primitiveType{
				display: flex;

				.operator {
					flex: 1;
				}

				.value {
					margin-left: 10px;
					flex: 1;
				}
			}
		}
	}

	.propertyActions {
		text-align: right;
		margin-top: 20px;
		margin-bottom: 10px;
		.button {
			margin-left: 10px!important;
		}
	}
}

.textFieldwidthAll {
	width: 100%!important;
}