.cell{
  border: 1px solid black;

  .container {
    width: 100%;
    height: 100%;
  }

  .actionButtons {
    position:fixed!important;
    top: 0!important;
    right: 0!important
  }
}

.btnGardar {
  position: fixed;
  top: 92%;
  left: 92%;
}

.floatingButton {
  position: fixed;
  top: 10%;
  left: 97%;
}