.floatingButton {
  position: fixed;
  top: 93%;
  left: 96%;
}

.refreshIndicator {
  position: fixed;
  top: 50%;
  left: 50%;
}

.graphicsGroupKPI{
  overflow-x: scroll;
  white-space:nowrap;

  .group {
      display: inline-flex;
      align-items: center;
      flex-flow: row;

      img {
        width: 250px;
        height: 250px;
      }

      .miniature {
        width: 250px;
        height: 250px;
        margin-left: 10px;

        border: 1px solid black;
        display: block;

        h2, p {
          text-align: center;
        }

        h4 {
          padding-left: 5px;
        }
      }
  }
}