
.tabs {
	margin-top: 10px;
}

.textField {
	width: 100%!important;
}

.iframe {
	width: 100%!important;
	height: 300px!important;
}

.floatingButton {
	position: fixed;
	top: 85%;
	left: 95%;
}

.representacion {
	display: block;
}

.refreshIndicator {
	position: fixed;
	top: 50%;
	left: 50%;
}

