<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>ExtraServices</display-name>
    <servlet>
        <servlet-name>MyWebServicesAPIv1</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <description>Multiple packages, separated by semicolon(;), can be specified in param-value</description>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
                ExtraServices.ws
                ExtraServices.filters
                com.fasterxml.jackson.jaxrs.json
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyWebServicesAPIv1</servlet-name>
        <url-pattern>/api/v1/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>ExtraServices.deploy.MyDeployListener</listener-class>
    </listener>
</web-app>
