/*
Solarized theme for code-mirror: http://ethanschoonover.com/solarized
Solarized color pallette: http://ethanschoonover.com/solarized/img/solarized-palette.png
less version: gui
*/
.cm-s-solarized {
  color-profile: sRGB;
  rendering-intent: auto;
}
.cm-s-solarized .cm-keyword {
  color: #b58900;
}
.cm-s-solarized .cm-atom {
  color: #b58900;
}
.cm-s-solarized .cm-number {
  color: #d33682;
}
.cm-s-solarized .cm-def {
  color: #268bd2;
}
.cm-s-solarized .cm-variable {
  color: #2aa198;
}
.cm-s-solarized .cm-variable-2 {
  color: #2aa198;
}
.cm-s-solarized .cm-variable-3 {
  color: #2aa198;
}
.cm-s-solarized .cm-property {
  color: #2aa198;
}
.cm-s-solarized .cm-operator {
  color: #b58900;
}
.cm-s-solarized .cm-comment {
  color: #586e75;
}
.cm-s-solarized .cm-string {
  color: #859900;
}
.cm-s-solarized .cm-string-2 {
  color: #b58900;
}
.cm-s-solarized .cm-meta {
  color: #859900;
}
.cm-s-solarized .cm-error,
.cm-s-solarized .cm-invalidchar {
  color: #586e75;
  border-bottom: 1px dotted #dc322f;
}
.cm-s-solarized .cm-qualifier {
  color: #b58900;
}
.cm-s-solarized .cm-builtin {
  color: #d33682;
}
.cm-s-solarized .cm-bracket {
  color: #cb4b16;
}
.cm-s-solarized .CodeMirror-matchingbracket {
  color: #859900 !important;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.cm-s-solarized .CodeMirror-nonmatchingbracket {
  color: #dc322f !important;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.cm-s-solarized .cm-tag {
  color: #93a1a1;
}
.cm-s-solarized .cm-attribute {
  color: #2aa198;
}
.cm-s-solarized .cm-header {
  color: #586e75;
}
.cm-s-solarized .cm-quote {
  color: #93a1a1;
}
.cm-s-solarized .cm-hr {
  color: transparent;
  border-top: 1px solid #586e75;
  display: block;
}
.cm-s-solarized .cm-link {
  color: #93a1a1;
  cursor: pointer;
}
.cm-s-solarized .cm-special {
  color: #6c71c4;
}
.cm-s-solarized .cm-em {
  color: #999;
  text-decoration: underline;
  text-decoration-style: dotted;
}
.cm-s-solarized .cm-strong {
  color: #eee;
}
.cm-s-solarized .cm-tab:before {
  color: #586e75;
}
.cm-s-solarized .cm-matchhighlight {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.cm-s-solarized .CodeMirror-gutters {
  background-color: #073642;
  border-right-color: transparent;
}
.cm-s-solarized a {
  color: #268bd2;
}
.cm-s-solarized.cm-s-dark {
  color: #839496;
  background-color: #002b36;
}
.cm-s-solarized.cm-s-dark .cm-matchhighlight {
  border-bottom-color: #073642;
}
.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
  background-color: #073642;
}
.cm-s-solarized.cm-s-dark .CodeMirror-gutter-filler {
  background-color: #002b36;
}
.cm-s-solarized.cm-s-dark .CodeMirror-selected,
.cm-s-solarized.cm-s-dark .cm-searching {
  background: rgba(255, 255, 255, 0.1);
}
.cm-s-solarized.cm-s-dark .CodeMirror-activeline-background {
  background-color: #073642;
}
.cm-s-solarized.cm-s-dark .CodeMirror-scrollbar-filler {
  background-color: #002b36;
}
.cm-s-solarized.cm-s-light {
  background-color: #fdf6e3;
  color: #657b83;
}
.cm-s-solarized.cm-s-light .cm-matchhighlight {
  border-bottom-color: #eee8d5;
}
.cm-s-solarized.cm-s-light .CodeMirror-gutters {
  background-color: #eee8d5;
}
.cm-s-solarized.cm-s-light .CodeMirror-gutter-filler {
  background-color: #fdf6e3;
}
.cm-s-solarized.cm-s-light .CodeMirror-selected,
.cm-s-solarized.cm-s-light .cm-searching {
  background: rgba(0, 0, 0, 0.1);
}
.cm-s-solarized.cm-s-light .CodeMirror-activeline-background {
  background-color: #eee8d5;
}
.cm-s-solarized.cm-s-light .CodeMirror-scrollbar-filler {
  background-color: #fdf6e3;
}
.cm-s-solarized .CodeMirror-gutters {
  padding: 0 15px 0 10px;
}
.cm-s-solarized .CodeMirror-linenumber {
  color: #657b83;
}
.cm-s-solarized .CodeMirror-gutter .CodeMirror-gutter-text {
  color: #586e75;
}
.cm-s-solarized .CodeMirror-lines .CodeMirror-cursor {
  border-left: 1px solid #586e75;
}
body.mac kbd.pc {
  display: none;
}
body.pc kbd.mac {
  display: none;
}
.CodeMirror {
  background: transparent;
  font-size: 16px;
}
.CodeMirror,
.CodeMirror-scroll {
  height: 100%;
}
.CodeMirror-code > pre {
  font-size: 0;
  font-size: 12px;
}
.CodeMirror-lines {
  padding: 24px;
}
.CodeMirror-linenumber {
  margin-left: -24px;
}
.CodeMirror-linewidget .line,
.CodeMirror-widget .fold {
  margin-left: -28px;
  width: 100%;
  padding: 24px;
  white-space: pre-wrap;
}
.CodeMirror-linewidget .line p,
.CodeMirror-widget .fold p {
  display: inline-block;
}
.CodeMirror-linewidget .line p,
.CodeMirror-widget .fold p,
.CodeMirror-linewidget .line pre,
.CodeMirror-widget .fold pre,
.CodeMirror-linewidget .line h1,
.CodeMirror-widget .fold h1,
.CodeMirror-linewidget .line h2,
.CodeMirror-widget .fold h2,
.CodeMirror-linewidget .line h3,
.CodeMirror-widget .fold h3,
.CodeMirror-linewidget .line h4,
.CodeMirror-widget .fold h4,
.CodeMirror-linewidget .line h5,
.CodeMirror-widget .fold h5,
.CodeMirror-linewidget .line h6,
.CodeMirror-widget .fold h6 {
  padding: 0;
  margin: 0;
}
.CodeMirror-linewidget .line ul,
.CodeMirror-widget .fold ul,
.CodeMirror-linewidget .line ol,
.CodeMirror-widget .fold ol {
  margin: 0;
}
.CodeMirror-linewidget .line .short,
.CodeMirror-widget .fold .short {
  padding: 1px 5px 1px 5px;
}
.CodeMirror-linewidget .line .block,
.CodeMirror-widget .fold .block {
  display: block;
}
.CodeMirror-linewidget .line pre,
.CodeMirror-widget .fold pre {
  padding: 10px 0px 10px 12px;
  display: inline-block;
}
.CodeMirror .CodeMirror-code > pre > span,
.CodeMirror .CodeMirror-code > div > pre > span,
.CodeMirror .CodeMirror-linewidget pre {
  font-weight: bold;
}
.CodeMirror .CodeMirror-code > pre > span > *,
.CodeMirror .CodeMirror-code > div > pre > span > *,
.CodeMirror .CodeMirror-linewidget pre > * {
  font-weight: normal;
}
.CodeMirror .CodeMirror-linewidget {
  overflow: visible !important;
}
.CodeMirror .CodeMirror-linewidget .inline {
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  margin-left: 20px;
  padding-left: 5px;
}
.CodeMirror .CodeMirror-linewidget i {
  margin-left: 16px;
  margin-right: 6px;
  font-size: 12px;
}
.CodeMirror .timeout i,
.CodeMirror .runtime-error i,
.CodeMirror .compiler.error i {
  color: red;
}
.CodeMirror .compiler.warning i {
  color: yellow;
}
.CodeMirror .runtime-error pre,
.CodeMirror .compiler pre {
  display: inline-block;
}
.CodeMirror-hints {
  z-index: 10;
  max-height: 400px;
  border: none;
}
.CodeMirror-hints .autocomplete {
  display: table-row;
  max-width: none;
  resize: none;
}
.CodeMirror-hints .autocomplete .name {
  display: table-cell;
}
.CodeMirror-hints .autocomplete .signature {
  padding-left: 5px;
  display: table-cell;
}
.CodeMirror-dialog.CodeMirror-dialog-top {
  border: none;
  margin-left: 56px;
  line-height: 21px;
  padding-left: 2px;
  padding-right: 0;
}
.CodeMirror-dialog.CodeMirror-dialog-top span {
  display: none;
}
.CodeMirror-dialog.CodeMirror-dialog-top input {
  font-size: 18px;
  padding: 0;
  width: calc(100% -  150px) !important;
}
body {
  margin: 0;
  overflow: hidden;
}
html,
body,
#code {
  height: 100%;
}
kbd {
  padding: .1em .6em;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  border-radius: 3px;
  display: inline-block;
  margin: 0 .1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  margin: 16px;
  border-radius: 5px;
  z-index: 20;
  padding-left: 0;
}
.menu li {
  display: block;
  font-size: 32px;
  margin: 10px;
  cursor: pointer;
}
::-webkit-scrollbar:horizontal,
.CodeMirror-simplescroll-horizontal div {
  height: 12px;
}
::-webkit-scrollbar:vertical,
.CodeMirror-simplescroll-vertical div {
  width: 12px;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.CodeMirror-simplescroll-horizontal div,
.CodeMirror-simplescroll-vertical div {
  border: none;
}
.cm-s-solarized ~ #shared {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 16px;
  border-radius: 5px;
  z-index: 20;
  padding: 16px;
  display: none;
  font-size: 16px;
}
.cm-s-solarized ~ #shared div {
  position: relative;
}
.cm-s-solarized ~ #shared a {
  color: #268bd2;
}
.cm-s-solarized ~ #shared i {
  padding-left: 10px;
  font-size: 20px;
  vertical-align: middle;
}
.cm-s-solarized .autocomplete .signature {
  color: #2aa198;
}
.cm-s-solarized.cm-s-dark .CodeMirror-widget .fold,
.cm-s-solarized.cm-s-dark .CodeMirror-linewidget .line,
.cm-s-solarized.cm-s-dark .CodeMirror-linewidget .inline,
.cm-s-solarized.cm-s-dark .CodeMirror-hints {
  background-color: #073642;
}
.cm-s-solarized.cm-s-dark .CodeMirror-widget .code,
.cm-s-solarized.cm-s-dark .CodeMirror-hint-active {
  color: inherit;
  background-color: #073642;
}
.cm-s-solarized.cm-s-dark .CodeMirror-dialog {
  background-color: #073642;
  color: #586e75;
}
.cm-s-solarized.cm-s-dark + .menu,
.cm-s-solarized.cm-s-dark .menu,
.cm-s-solarized.cm-s-dark + .menu + #shared,
.cm-s-solarized.cm-s-dark ::-webkit-scrollbar-thumb,
.cm-s-solarized.cm-s-dark .CodeMirror-simplescroll-horizontal div,
.cm-s-solarized.cm-s-dark .CodeMirror-simplescroll-vertical div,
.cm-s-solarized.cm-s-dark .CodeMirror-hints {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
}
.cm-s-solarized.cm-s-dark ::-webkit-scrollbar-track,
.cm-s-solarized.cm-s-dark ::-webkit-scrollbar-corner {
  background: #002b36;
}
.cm-s-solarized.cm-s-dark ::-webkit-scrollbar-thumb {
  background: #073642;
}
.cm-s-solarized.cm-s-dark + .menu,
.cm-s-solarized.cm-s-dark .menu,
.cm-s-solarized.cm-s-dark + .menu + #shared {
  background-color: #073642;
  color: #586e75;
}
.cm-s-solarized.cm-s-dark + .menu .oi:hover,
.cm-s-solarized.cm-s-dark .menu .oi:hover,
.cm-s-solarized.cm-s-dark + .menu + #shared .oi:hover {
  color: #93a1a1;
}
.cm-s-solarized.cm-s-dark .CodeMirror-simplescroll-horizontal,
.cm-s-solarized.cm-s-dark .CodeMirror-simplescroll-vertical,
.cm-s-solarized.cm-s-dark .CodeMirror-hints {
  background: #002b36;
}
.cm-s-solarized.cm-s-dark .CodeMirror-simplescroll-horizontal div,
.cm-s-solarized.cm-s-dark .CodeMirror-simplescroll-vertical div,
.cm-s-solarized.cm-s-dark .CodeMirror-hints div {
  background: #073642;
}
.cm-s-solarized.cm-s-light .CodeMirror-widget .fold,
.cm-s-solarized.cm-s-light .CodeMirror-linewidget .line,
.cm-s-solarized.cm-s-light .CodeMirror-linewidget .inline,
.cm-s-solarized.cm-s-light .CodeMirror-hints {
  background-color: #eee8d5;
}
.cm-s-solarized.cm-s-light .CodeMirror-widget .code,
.cm-s-solarized.cm-s-light .CodeMirror-hint-active {
  color: inherit;
  background-color: #eee8d5;
}
.cm-s-solarized.cm-s-light .CodeMirror-dialog {
  background-color: #eee8d5;
  color: #93a1a1;
}
.cm-s-solarized.cm-s-light + .menu,
.cm-s-solarized.cm-s-light .menu,
.cm-s-solarized.cm-s-light + .menu + #shared,
.cm-s-solarized.cm-s-light ::-webkit-scrollbar-thumb,
.cm-s-solarized.cm-s-light .CodeMirror-simplescroll-horizontal div,
.cm-s-solarized.cm-s-light .CodeMirror-simplescroll-vertical div,
.cm-s-solarized.cm-s-light .CodeMirror-hints {
  box-shadow: 1px 1px 5px 1px rgba(200, 200, 200, 0.75);
}
.cm-s-solarized.cm-s-light + .menu .cm-s-solarized.cm-s-light .menu,
.cm-s-solarized.cm-s-light + .menu,
.cm-s-solarized.cm-s-light + .menu + #shared {
  background-color: #eee8d5;
  color: #93a1a1;
}
.cm-s-solarized.cm-s-light + .menu .cm-s-solarized.cm-s-light .menu .oi:hover,
.cm-s-solarized.cm-s-light + .menu .oi:hover,
.cm-s-solarized.cm-s-light + .menu + #shared .oi:hover {
  color: #586e75;
}
.cm-s-solarized.cm-s-light ::-webkit-scrollbar-track,
.cm-s-solarized.cm-s-light ::-webkit-scrollbar-corner {
  background: #fdf6e3;
}
.cm-s-solarized.cm-s-light ::-webkit-scrollbar-thumb {
  background: #eee8d5;
}
.cm-s-solarized.cm-s-light .CodeMirror-simplescroll-horizontal,
.cm-s-solarized.cm-s-light .CodeMirror-simplescroll-vertical,
.cm-s-solarized.cm-s-light .CodeMirror-hints {
  background: #fdf6e3;
}
.cm-s-solarized.cm-s-light .CodeMirror-simplescroll-horizontal div,
.cm-s-solarized.cm-s-light .CodeMirror-simplescroll-vertical div,
.cm-s-solarized.cm-s-light .CodeMirror-hints div {
  background: #eee8d5;
  box-shadow: 0 0 1px grey inset;
}
iframe {
  border: none;
}
noscript {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
